:root {
    --main-color: #C3272B;
    --main-color-dark: #9D2933;
    --main-color-light: #D24D57;
    --text-color-active: #fff;
    --text-color: #212529;
}


#mfm-container{
    border-radius: 0;
}

.btn.flat {
    border-radius: 0 !important;
}

.right-divider {
    border-style: solid;
    border-width: 0;
    border-right-color: rgba(0, 0, 0, 0.125);
    border-right-width: 1px;
}

.bg-theme{
    background-color: var(--main-color) !important;
}
.btn-theme{
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: var(--text-color-active) !important;
}

.btn-theme:hover {
    background-color: var(--main-color-dark) !important;
    border-color: var(--main-color-dark) !important;
}
.mfm-dir:hover {
    color: var(--text-color-active) !important;
    background-color: var(--main-color-light) !important;
    border-color: var(--main-color-light) !important;
}
