:root {
    --main-color: #C3272B;
    --main-color-dark: #9D2933;
    --main-color-light: #D24D57;
    --text-color-active: #fff;
    --text-color: #212529;
    --theme-background: #212529;
    --light-background: #6C7A89;
    --white: #EEEEEE;
    --light-gray: #F2F1EF;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.bg-theme-ui {
    background-color: var(--theme-background) !important;
}

#mfm-container{
    min-height: 500px;
    max-height: 500px;
    border-radius: 0;
    border-width: 2px;
    overflow: hidden scroll;
    background-color: var(--light-background) !important;
}

#mfm_dir_tree {
    overflow: scroll;
}

#folder_contents {
    background-color: var(--white);
    min-height: 100%;
}


.border-theme{
    border-color: var(--light-gray) !important;
}

.mfm-dir{
    color: var(--light-gray) !important;
}

.btn.flat {
    border-radius: 0 !important;
}

.right-divider {
    border-style: solid;
    border-width: 0;
    border-right-color: rgba(0, 0, 0, 0.125);
    border-right-width: 1px;
}

.bg-theme{
    background-color: var(--main-color) !important;
}
.btn-theme{
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: var(--text-color-active) !important;
}

.btn-theme:hover {
    background-color: var(--main-color-dark) !important;
    border-color: var(--main-color-dark) !important;
}

.btn-theme-clear:focus {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
    color: var(--text-color-active) !important;
}

.mfm-dir:hover, .btn-theme-clear:hover {
    color: var(--text-color-active) !important;
    background-color: var(--main-color-light) !important;
    border-color: var(--main-color-light) !important;
}
